# emacs backup files
*~

# go compiled object files and libraries
*.o
*.a

# java compiled files
*.class
.project
.classpath
bin/
*.jar

*.exe

#go binary directory
go_jangle/bin/

#Database Login Information
.databasedsn